::selection {
    background: transparent;
    color: unset;
}

body {
    background: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    font-size: 3vh;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.calculator > div {
    display: flex;
}

.calculator > div > div {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1vh;
}

.calculator > div > .cero {
    width: 18vh;
    border-radius: 40px;
}

.special {
    background-color: rgb(221, 221, 221)
}

.numbers {
    background-color: rgb(37, 37, 37);
    color: white;
}

.operator {
    background: #ffa800;
    color: white;
}

#screen {
    background: unset;
    border: unset;
    color: white;
    font-size: 8vh;
    width: calc((8vh * 4) + (1vh * 8));
    text-align: right;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}